extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2
      h1 Register
      form(role='form', action='/register', method='post')
        .form-group.has-feedback#usernameGroup
          label(for='username' class='control-label')
            | Email Address
          input(type='text', name='username', placeholder='Enter email address', autofocus, id='username', class='form-control', aria-describedby="helpBlock")
          span.glyphicon.glyphicon-ok.form-control-feedback#successIcon(aria-hidden='true')
          span.glyphicon.glyphicon-remove.form-control-feedback#errorIcon(aria-hidden='true')
          span#helpBlock.help-block
        .form-group
          label(for='password')
            | Password
          input(type='password', name='password', placeholder='Password', class='form-control')
        button(type='submit', class="btn btn-default") Register
  
  script.
    $(document).ready(function() {
      $('#username').on('keyup', function() {
        var val = $(this).val();
        if(val) {
          $.get('/register/check/user/'+$(this).val(), function(data) {
            if(!data.success) {
              $('#usernameGroup').addClass('has-error').removeClass('has-success');
              $('#helpBlock').text(data.reason).slideDown('fast');
            } else {
              $('#usernameGroup').addClass('has-success').removeClass('has-error');
              $('#helpBlock').text('').slideUp('fast');
            }
          });
        } else {
          $('#usernameGroup').removeClass('has-error has-success');
          $('#helpBlock').text('').slideUp('fast');
        }
      });
    });


//-
  var strength = {
  		0: "Worst ☹",
  		1: "Bad ☹",
  		2: "Weak ☹",
  		3: "Good ☺",
  		4: "Strong ☻"
  }

  var password = document.getElementById('password');
  var meter = document.getElementById('password-strength-meter');
  var text = document.getElementById('password-strength-text');

  password.addEventListener('input', function()
  {
      var val = password.value;
      var result = zxcvbn(val);
  	
      // Update the password strength meter
      meter.value = result.score;
     
      // Update the text indicator
      if(val !== "") {
          text.innerHTML = "Strength: " + "<strong>" + strength[result.score] + "</strong>" + "<span class='feedback'>" + result.feedback.warning + " " + result.feedback.suggestions + "</span"; 
      }
      else {
          text.innerHTML = "";
      }
  });
