extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2
      h1 Register
      form(role='form', action='/register', method='post')
        .form-group.has-feedback#usernameGroup
          label(for='username', class='control-label')
            | Email Address
          input(type='text', name='username', placeholder='Enter email address', autofocus, id='username', class='form-control', aria-describedby="helpBlockUser")
          span.glyphicon.glyphicon-ok.form-control-feedback#successIconUser(aria-hidden='true')
          span.glyphicon.glyphicon-remove.form-control-feedback#errorIconUser(aria-hidden='true')
          span#helpBlockUser.help-block
        .form-group.has-feedback#passGroup
          label(for='password', class='control-label')
            | Password
          input(type='password', name='password', placeholder='Password', class='form-control', id='password', aria-describedby="helpBlockPass")
          span.glyphicon.glyphicon-ok.form-control-feedback#successIconPass(aria-hidden='true')
          span.glyphicon.glyphicon-remove.form-control-feedback#errorIconPass(aria-hidden='true')
          span#helpBlockPass.help-block
        button(type='submit', class="btn btn-default", id="subBtn", disabled=true) Register
  
  script.
    $(document).ready(function() {
      $('#username').on('keyup', function() {
        var val = $(this).val();
        if(val) {
          $.get('/register/check/user/'+val, function(data) {
            if(!data.success) {
              $('#usernameGroup').addClass('has-error').removeClass('has-success');
              $('#helpBlockUser').text(data.reason).slideDown('fast');
            } else {
              $('#usernameGroup').addClass('has-success').removeClass('has-error');
              $('#helpBlockUser').text('').slideUp('fast');
            }
            
            checkFields();
          });
        } else {
          $('#usernameGroup').removeClass('has-error has-success');
          $('#helpBlockUser').text('').slideUp('fast');
          checkFields();
        }
      });
      
      $('#password').on('keyup', function() {
        var passval = $(this).val();
        if(passval) {
          $.get('/register/check/pass/'+passval, function(data) {
            
            if(data.score < 3) {
              var string = '';
              for(var i = 0; i < data.feedback.suggestions.length; i++) {
                string += data.feedback.suggestions[i] + ' '
              }
              $('#passGroup').addClass('has-error').removeClass('has-success');
              $('#helpBlockPass').text(string).slideDown('fast');
              
            } else {
              $('#passGroup').addClass('has-success').removeClass('has-error');
              $('#helpBlockPass').text('').slideUp('fast');
            }
            
            checkFields();
          });
        } else {
          $('#passGroup').removeClass('has-error has-success');
          $('#helpBlockPass').text('').slideUp('fast');
          checkFields();
        }
      });
    });
    
    function checkFields() {
      var userGroup = $('#usernameGroup'), passGroup = $('#passGroup'), btn = $('#subBtn');
      if(userGroup.hasClass('has-success') && passGroup.hasClass('has-success')) {
        btn.attr('disabled', false);
      } else { btn.attr('disabled', true); }
    }
