body
  //font: 16px "Lucida Grande", Helvetica, Arial, sans-serif


#helpBlock
  display: none

#usernameGroup
  .glyphicon
    display: none

#usernameGroup.has-error
  #errorIcon
    display: block
  #successIcon
    display: none

#usernameGroup.has-success
  #errorIcon
    display: none
  #successIcon
    display: block
